doctype html
html(lang="en")
    head
        <!-- Meta -->

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

        <!-- Styles -->
        link(type="text/css", rel="stylesheet", href="css/main.css")
        link(rel="stylesheet" href="../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss")
        link(rel="icon" type="image/png" href="img/favicon.ico")

        title Urlaubsglück
    body

        div.container-fluid.page
            div.row.main
                div.col-xs-12.col-sm-12.col-md-12.col-lg-12.main-wr

                    //= blocks/header.pug

                    section.wrapper.col-xs-12.col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8.info-block

                        //= blocks/work.pug

                        //= blocks/partner.pug

                        //= blocks/ideas.pug

                    //= blocks/footer.pug

        <!-- JS -->

        script(type="text/javascript", src="js/main.js")