.footer{
  font-family: $font-family-base;

  hr{
    border-top: 5px solid #ff4e50;
    width: 100%;
    display: flex;
  }

  .content {

    h5 {
      font-size: 16px;
      color: $accent-color;
    }
    h6 {
      font-size: 14px;
    }

    ul {
      font: {
        family: $font-family-secondary;
        weight: 200;
        size: 14px;
      }
      color: $grey;
      line-height: 24px;
      list-style: none;
    }

    span {
      color: $light-grey;
      font-size: 10px;
    }


    @media (max-width: $screen-xs-max) {
      height: 4.9%;
      text-align: center;
      h5 { margin-bottom: 14px; }
      ul {
        margin-top: -9px;
        padding: 0;
        li {
          display: inline-block;
          list-style: none;
          padding: 0 7px;
        }
      }
      .credits {
        text-align: center;
        span {
          margin-top: 5px;
          margin-bottom: 11px;
          display: block;
          font-size: 10px;
          letter-spacing: 0.8px;
        }
      }
    }

    @media (min-width: $screen-sm-min) {
      margin:{
        top: 6px;
        left: 15px;
        right: 15px;
      }
      .row {
        h5 {letter-spacing: .85px;}

        .company{
          padding-left: 62px;
          ul{
            padding: 0;
            margin-top: 12px;
          }
        }
        .partners{padding-left: 53px;}
        .text-right {
          margin-top:6px;
          letter-spacing: .85px;
          img { margin-top: 5px; }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      margin:{
        top: 5px;
        left: 99px;
        right: 101px;
      }
      .row {
        .company { padding-left: 80px; }
        .partners { padding-left: 63px; }
        .company, .partners {
          h6 { margin: 12px 0 -2px !important; }
        }
      }
    }

    @media (min-width: $screen-lg-min) {
      .company, .partners { padding-left: 94px; }
    }
  }
}
