.footer{
  font:{
    family: $font-family-base;
  }

  hr{
    border-top: 5px solid #ff4e50;
    width: 100%;
  }

  .content {
    margin: -14px 0 25px 0;

    h5, h6 {
      font-weight: bold;
    }
    h5 {
      font-size: 16px;
      color: $accent-color;
    }
    h6 {
      font-size: 14px;
    }

    ul {
      font: {
        family: $font-family-secondary;
        weight: 200;
        size: 14px;
      }
      color: $grey;
      line-height: 24px;
      list-style: none;
    }

    span {
      color: $light-grey;
      font: {
        weight: bold;
        size: 10px;
      }
    }


    @media (max-width: $screen-xs-max) {
      height: 4.9%;
      text-align: center;
      h5{margin-bottom: 14px;}
      ul {
        padding: 0;
        li {
          display: inline-block;
          list-style: none;
          padding: 0 7px;
        }
      }
      span {
        margin-top: 5px;
        margin-bottom: 6px;
        display: block;
        font-size: 10px;
        letter-spacing: 0.8px;
      }
    }

    @media (min-width: $screen-sm-min) {
      margin-top: 6px;
      .row{
        margin: 0 -4px 0 -6px;
        h5{letter-spacing: .85px;}

        .company{
          padding-left: 62px;
          ul{
            padding: 0;
            margin-top: 12px;
          }
        }
        .partners{padding-left: 53px;}
        .text-right{
          margin-top:6px;
          letter-spacing: .85px;
          img{margin-top: 5px;}
        }
      }
    }
    @media (min-width: $screen-md-min) {
      .row{
        margin: 0px -122px 0 -36px!important;
        .company{padding-left: 80px;}
        .partners{padding-left: 63px;}
        .company, .partners {
          h6 {margin: 12px 0 -2px !important;}
        }
      }
    }
    //@media (min-width: $screen-lg-min) {}
  }
}
