.header{
  height: 700px;
  color: white;
  background: url("../img/header-promo.jpg") rgba(26,25,21,0.25) no-repeat center;
  background-blend-mode: soft-light;
  background-size: cover;


  // Typography settings

  font:{family: $font-family-base;}
  h1{
    font-weight: bold;
    margin: 0 auto;
  }
  .light-text{
    font-size: 24px;
    color: white;
  }


  // Grid and display settings

  .wrapper{
    height: 100%;
    .navbar-right{
      margin: 0;
      .btn-link{
          border: 2px solid transparent;
          border-radius: 25px;
          &:active, &:hover, &:focus{
            background-color: transparent;
            border:{
              width: 2px;
              color: white;
            }
          }
        }
    }
    .headings{
      h1{
        font-weight: bold;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    height: 540px;
    text-align: center;
    background-position: 51.5% 75%;
    background-size: auto 103%;

    .content{
      padding: 19px 5px;
      .navbar {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        .navbar-header {
          text-align: center;
          padding-top: 120px;
          .navbar-brand {
            font-size: 20px;
            height: 20px;
            padding: 0;
          }
        }
        .navbar-right {
          margin: 0 auto;
          li{
            display: inline-block;
            margin: 0 10px 0 -10px;
            .btn-link{
              padding: 6px 12.5px;
              border: 2px solid transparent;
              border-radius: 25px;
              letter-spacing: 0;
            }
          }
        }
      }
      .headings{
        padding: 7px 0;
        h1{
          font-size: 30px;
          line-height: 35px;
          letter-spacing: -1px;
        }
        .light-text{
          margin: 9px auto;
          width: 230px;
          font-size: 18px;
          line-height: 21px;
        }
        .accent-button{
          margin-top: 6px;
          padding: 13px 50px;
          font-weight: normal;
        }
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .navbar{
      padding: 36px 33px 36px 33px;
      margin: 0;
      .navbar-header {
        a {
          font-size: 19.5px;
          letter-spacing: -0.1px;
        }
      }
      .navbar-right{
        margin-right: 15px;
        .btn-link{
          padding: 6.5px 17px;
          font-weight: 400;
        }
      }
    }
    .headings{
      margin: 92px 120px 205px 114px;
      h1{
        font-weight: bold;
        line-height: 62px;
        font-size: 52px;
      }
      .light-text{margin: 21px 0 0 -2px;}
      .accent-button{
        padding: 13px 24px;
        margin: 31px auto;
      }
    }
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .navbar{
      margin: 35px 20px 0;
      .navbar-brand{font-size: 20px;}
    }
    h1 {
      line-height: 62px;
      padding-top: 130px;
      width: 490px;
    }
    .light-text{padding-top: 20px;}
  }

  @media (min-width: $screen-lg-min) {
    .content{
      margin: 37px 7.9vw 0 6.7vw;
      .navbar-brand{
        margin-top: -2px;
        font-size: 20px;
        letter-spacing: 1px;
      }
      .headings {
        margin: 0 14vw 0 15.1vw;
        h1 {
          padding-top: 106px;
          line-height: 63px;
        }
        .light-text{
          margin: 21px 0;
          letter-spacing: 0.15px;
        }
        .accent-button{
          padding: 14px 23px;
          margin-top: 10px;
        }
      }
    }
  }
}
