.ideas{
  .accent-button{padding: 15px 25px;}

  .idea-container{
    display: table;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    .idea-preview{
      display: table-cell !important;
      position: relative;
      vertical-align: middle;
      border-radius: 5px;
      border: 0 solid transparent;

      a{
        font: {
          weight: bold;
          size: 22px;
          family: $font-family-base;
        };
        text-shadow: none;
        color: white !important;
      }
    }


  }
  @for $i from 1 through 7{
    #idea-#{$i}{
      background: url("../img/gallery#{$i}.png") rgba(0,0,0,0.25) no-repeat center;
      background-blend-mode: darken;
      background-size: cover;
    }
  }

  .form-wrapper{.light-text{font-size: 18px;}}

  @media (max-width: $screen-xs-max) {
    h3{margin: 37px auto 16px;}
    .idea-container{
      margin-bottom: 10px;
      .idea-preview{
        height: 120px;
        padding-top: 7.5px;
      }
      .form-wrapper{
        padding: 0;
        .form-group{
          margin: 0 -8px 40px !important;
          .input-wrapper{
            padding: 0 0 10px;

            .placeholder-style{
              color: $light-grey;
              font:{
                weight: 100;
                size: 14px;
                family: "Roboto Light";
              };
            }
            .form-control{
              @include placeholder {
                @extend .placeholder-style;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .idea-preview{height: 316px;}
  }
  @media (min-width: $screen-md-min) {
    .idea-preview{height: 316px;}
  }
}
