.partner{
  .p-preview{
    margin-bottom: 25px;
    .p-avatar{
      position: relative;
      width: 120px;
      margin: 0 auto 15px;

      &:after{
        content: "";
        position: absolute;
        display: block;
        top: 83px;
        left: 83px;
        height: 42px;
        width: 42px;
      }
    }
    .p-name{font-weight: bold;}
    .p-info{color: $grey;}

    @for $i from 1 through 4{
      .p-#{$i}:after{
        background-image: url("../img/icon#{$i}.png");
      }
    }
  }




  @media (max-width: $screen-xs-max) {
    h3{margin: 27px 0 16px;}
    .p-preview {
      margin-bottom: 11px;
      .p-avatar{
        margin: 0 auto 14px;
        height: 122px;
        width: 122px;
      }
      .p-info{margin: 0 5px 10px;}
    }

    .btn{
      padding: 11px 69px;
      letter-spacing: 0.13px;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .text-center{
      margin:0;
      .partner-wr{
        padding: 0 49px;
        margin-bottom: 80px;
        h3{margin: 23px 5px 9px 0;}
        .p-preview{
          margin: 22px 0;
          padding: 0 18px;
          .p-avatar{
            margin-bottom: 20px;
            height: 120px;
            width: 120px;
          }
          p{line-height: 18px;}
        }
        .inverse-button{padding: 11px 28px;}
      }
    }
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  }
  @media (min-width: $screen-lg-min) {
    margin-bottom: 55px;
    .partner-wr{
      .row{
        margin: 33px 0 12px;
        .p-name {
          margin: 18px 46px 10px;
        }
        .p-info {
            margin: 0 -5px;
            line-height: 17px;
          }
      }
      .inverse-button{padding: 11px 27px;}
    }
  }
}
