.no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.page{
  @extend .no-padding;
  section{@extend .no-padding;}
}

@media (max-width: $screen-xs-max) {
  .no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .wrapper, .wrapper>.container-fluid{padding: 0 !important;}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .wrapper{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {}
@media (min-width: $screen-lg-min) {}