section.header
    div.col-xs-12.col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8.wrapper
        div.content
            nav.navbar
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand.text-uppercase(href="#") Urlaubsglück
                    ul.row.nav.navbar-nav.navbar-right
                        li
                            a.btn.btn-link(href="#")
                                span Log in
                        li
                            a.btn.btn-link(href="#")
                                span Sign up
            div.container-fluid.text-center
                h1.text-uppercase share your holiday dreams
                p.light-text And find the perfect partner to fullfill it
                a.btn.accent-button(href="#", role="button") Find your holiday partner