.footer{
  font:{
    family: $font-family-base;
  }

  hr{
    border-top: 5px solid #ff4e50;
    width: 100%;
  }

  .content {
    margin: -14px 0 25px 0;

    h5, h6 {
      font-weight: bold;
    }
    h5 {
      font-size: 16px;
      color: $accent-color;
    }
    h6 {
      font-size: 14px;
    }

    ul {
      font: {
        family: $font-family-secondary;
        weight: 200;
        size: 14px;
      }
      color: $grey;
      line-height: 24px;
    }

    span {
      color: $light-grey;
      font: {
        weight: bold;
        size: 10px;
      }
    }

    @media (max-width: $screen-xs-max) {
      height: 4.9%;
      text-align: center;
      h5{margin-bottom: 14px;}
      ul {
        padding: 0;
        li {
          display: inline-block;
          list-style: none;
          padding: 0 7px;
        }
      }
      span {
        margin-top: 5px;
        margin-bottom: 6px;
        display: block;
        font-size: 10px;
        letter-spacing: 0.8px;
      }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      height: 5.6%;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      height: 5.9%;
    }
    @media (min-width: $screen-lg-min) {
      height: 5.9%;
    }
  }
}
