section.footer
    hr
    div.container
        div.content
            div.row
                div.col-sm-3.col-md-2
                    h5.text-uppercase Urlaubsglück
                div.col-sm-3.col-md-2.company
                    h6 Company
                    ul
                        li.light-text About
                        li.light-text Contacts
                        li.light-text Press
                        li.light-text Blog

                div.col-sm-3.col-md-2.partners
                    h6 Partners

                div.col-sm-3.col-md-offset-4.col-md-2.text-right.credits
                    span.text-uppercase Designed by
                    img.areto(src="img/areto.png")