section.ideas
    div.text-center
        h3 Discover holiday activity ideas
        div.wrapper#gallery
            div.row.row-smaller-margin
                div.col-xs-12.col-sm-4.col-md-4.col-lg-4.idea-container
                    div.idea-preview#idea-1
                        a(href="#Sport") Sport and Activity
                div.col-xs-12.col-sm-4.col-md-4.col-lg-4.idea-container
                    div.idea-preview#idea-2
                        a(href="#Wellness") Wellness and Health
                div.col-xs-12.col-sm-4.col-md-4.col-lg-4.idea-container
                    div.idea-preview#idea-3
                        a(href="#Extreme") Extreme Sports and Expeditions
            div.row.row-smaller-margin
                div.col-xs-12.col-sm-4.col-md-4.col-lg-4.idea-container
                    div.idea-preview#idea-4
                        a(href="#Games") Games
                div.col-xs-12.col-sm-8.col-md-8.col-lg-8.idea-container
                    div.idea-preview#idea-5
                        a.text-nowrap(href="#Culture") Culture and Education
            div.row.row-smaller-margin
                div.col-xs-12.col-sm-8.col-md-8.col-lg-8.idea-container
                    div.idea-preview#idea-6
                        a(href="#Relaxation") Relaxation
                div.col-xs-12.col-sm-4.col-md-4.col-lg-4.idea-container
                    div.idea-preview#idea-7
                        a(href="#Travelling") Travelling

        div.form-wrapper
            h3 Discover holiday activity ideas
            p.light-text Hi! What are your holiday interests?
            form.form-inline
                input.form-control(type="text", placeholder="Enter your interests")
                button.btn.accent-button(type="submit") Search partners
