section.partner
    div.row.text-center
        div.partner-wr.col-sm-offset-1.col-sm-10.col-md-offset-0.col-md-12
            h3 Meet a partner for your best holiday
            div.row
                div.col-xs-12.col-sm-6.col-md-3.p-preview.p-1
                    div.p-avatar
                        img.img-circle.img-responsive(src="img/face1.png", alt="Bradley Hunter")
                    p.p-name Bradley Hunter
                    p.p-info.light-text Based in Chicago. I love playing tennis and loud music.
                div.col-xs-12.col-sm-6.col-md-3.p-preview.p-2
                    div.p-avatar
                        img.img-circle.img-responsive(src="img/face2.png", alt="Heather Walker")
                    p.p-name Heather Walker
                    p.p-info.light-text I'm a happy person that loves cats and climbing on mountains.
                div.col-xs-12.col-sm-6.col-md-3.p-preview.p-3
                    div.p-avatar
                        img.img-circle.img-responsive(src="img/face3.png", alt="Lucas Marsha")
                    p.p-name Lucas Marsha
                    p.p-info.light-text I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.
                div.col-xs-12.col-sm-6.col-md-3.p-preview.p-4
                    div.p-avatar
                        img.img-circle.img-responsive(src="img/face4.png", alt="Bradley Hunter")
                    p.p-name Bradley Hunter
                    p.p-info.light-text Based in Chicago. I love playing tennis and loud music.

            a.btn.inverse-button(href="#", role="button") See other partners