@font-face {
  font-family: Montserrat;
  font-weight: normal;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/Roboto-Light.ttf);
}

