// Typography

$font-family-base:      'Montserrat';
$font-family-secondary: 'Roboto';
$font-size-base:        12px;
$line-height-base:      12;



// Colors

$accent-color:  #ff4e50;
$white-text:    #f9f9f9;
$header-black:  #333333;
$grey:          #666666;
$light-grey:    #cccccc;
$link-color:    red;